:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #f46433;
    --border-color: gray;
}

* {
    box-sizing: inherit;
    /* Phần tử con kế thừa kích thước của cha */
}

html {
    font-size: 80%;
    /* Mặc định là 16px */
    line-height: 1.25rem;
    /*rem phụ thuộc vào thẻ html*/
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    /*Nếu thay đổi padding, border thì phần tử giữ nguyên kích thước tổng thể ban đầu*/
    width: 100%;
}

body{
    margin: 0;
}

.grid {
    width: 1700px;
    /* Chiều dài nhỏ hơn chiều dài của trình duyệt*/
    max-width: 100%;
    margin: 0 auto;
    /* Căn giữa nội dung */
}

.grid_full_width {
    width: 100%;
    /* Trường hợp dự phòng nếu ko dùng 1820px nữa */
}

.grid_row {
    display: flex;
    /* Các con của nó sẽ trên cùng 1 hàng */
    flex-wrap: wrap;
    /* Con nhảy xuống hàng dưới nếu không đủ chỗ */
}

/* button chung cho cả trình duyệt*/
.btn{
    width: 120px;
    height: 35px;
    border: 1px var(--border-color);
    border-radius: 5px;
    cursor: pointer;
}

a{
    text-decoration: none;
}