USE [SU25_PRN232_01]
GO
/****** Object:  Table [dbo].[ServiceOrders]    Script Date: 6/20/2025 2:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceOrders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[VehicleId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__ServiceO__C3905BCF0093433F] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 6/20/2025 2:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/20/2025 2:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [varchar](256) NOT NULL,
	[Role] [int] NOT NULL,
 CONSTRAINT [PK__Users__1788CC4C108513F8] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 6/20/2025 2:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VehicleId] [int] IDENTITY(1,1) NOT NULL,
	[PlateNumber] [nvarchar](20) NOT NULL,
	[Brand] [nvarchar](50) NOT NULL,
	[OwnerName] [nvarchar](100) NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VehicleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ServiceOrders] ON 

INSERT [dbo].[ServiceOrders] ([OrderId], [VehicleId], [ServiceId], [CreatedAt], [Status]) VALUES (2, 3, 1, CAST(N'2025-06-12T14:12:44.430' AS DateTime), 0)
INSERT [dbo].[ServiceOrders] ([OrderId], [VehicleId], [ServiceId], [CreatedAt], [Status]) VALUES (3, 2, 2, CAST(N'2025-06-12T14:12:44.430' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[ServiceOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([ServiceId], [Description], [Price]) VALUES (1, N'Oil Change', CAST(250000.00 AS Decimal(10, 2)))
INSERT [dbo].[Services] ([ServiceId], [Description], [Price]) VALUES (2, N'Tire Replacement', CAST(800000.00 AS Decimal(10, 2)))
INSERT [dbo].[Services] ([ServiceId], [Description], [Price]) VALUES (3, N'Brake Inspection', CAST(150000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Email], [PasswordHash], [Role]) VALUES (6, N'admin@garage.com', N'admin', 1)
INSERT [dbo].[Users] ([UserId], [Email], [PasswordHash], [Role]) VALUES (7, N'staff1@garage.com', N'staff', 0)
INSERT [dbo].[Users] ([UserId], [Email], [PasswordHash], [Role]) VALUES (8, N'staff2@garage.com', N'staff', 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicles] ON 

INSERT [dbo].[Vehicles] ([VehicleId], [PlateNumber], [Brand], [OwnerName], [UserId]) VALUES (2, N'43A-12345', N'Toyota', N'Nguyễn Đình Hoàng Hải', 8)
INSERT [dbo].[Vehicles] ([VehicleId], [PlateNumber], [Brand], [OwnerName], [UserId]) VALUES (3, N'43B-54321', N'Honda', N'Lê Quang Hưng', 7)
INSERT [dbo].[Vehicles] ([VehicleId], [PlateNumber], [Brand], [OwnerName], [UserId]) VALUES (4, N'92A-69699', N'Honda', N'Nguyễn Mạnh Tấn Huỳnh', 7)
SET IDENTITY_INSERT [dbo].[Vehicles] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534A60BFCEC]    Script Date: 6/20/2025 2:47:25 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__A9D10534A60BFCEC] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ServiceOrders] ADD  CONSTRAINT [DF__ServiceOr__Creat__2D27B809]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ServiceOrders] ADD  CONSTRAINT [DF__ServiceOr__Statu__2E1BDC42]  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[ServiceOrders]  WITH CHECK ADD  CONSTRAINT [FK__ServiceOr__Servi__300424B4] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([ServiceId])
GO
ALTER TABLE [dbo].[ServiceOrders] CHECK CONSTRAINT [FK__ServiceOr__Servi__300424B4]
GO
ALTER TABLE [dbo].[ServiceOrders]  WITH CHECK ADD  CONSTRAINT [FK__ServiceOr__Vehic__2F10007B] FOREIGN KEY([VehicleId])
REFERENCES [dbo].[Vehicles] ([VehicleId])
GO
ALTER TABLE [dbo].[ServiceOrders] CHECK CONSTRAINT [FK__ServiceOr__Vehic__2F10007B]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK__Vehicles__UserId__286302EC] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK__Vehicles__UserId__286302EC]
GO
