
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["ChooseDashboard"] = "chooseButton";
}

<div class="content" style="width: 100%">
    <h2>Dashboard</h2>

    <div class="card" >
        <div class="card-body">
            <h5>Danh sách cần làm</h5>
            <div class="row text-center">
                <div class="col">0<br>Chờ lấy hàng</div>
                <div class="col">0<br>Đã xử lý</div>
                <div class="col">0<br>Trả hàng / Hoàn tiền / hủy</div>
                <div class="col">0<br>Sản phẩm tạm khoá</div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5>Phân tích bán hàng</h5>
            <p>Hôm nay 00:00 GMT+7 05:00 (Dữ liệu thay đổi so với hôm qua)</p>
            <div class="row text-center">
                <div class="col">Doanh số<br>0<br>-0,00%</div>
                <div class="col">Lượt truy cập<br>0<br>-0,00%</div>
                <div class="col">Lượt xem<br>0<br>-0,00%</div>
                <div class="col">Đơn hàng<br>0<br>-0,00%</div>
                <div class="col">Tỷ lệ chuyển đổi<br>0<br>-0,00%</div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5>Phân tích đánh giá</h5>
            <div class="row text-center">
                <div class="col">5 sao<br>0</div>
                <div class="col">4 sao<br>0</div>
                <div class="col">3 sao<br>0</div>
                <div class="col">2 sao<br>0</div>
                <div class="col">1 sao<br>0</div>
            </div>
        </div>
    </div>
</div>