<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Chill_Computer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Chill_Computer.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</head>
<body>
    <div class="chat-bubble" id="chatBubble">
        <i class="fas fa-comments"></i>
    </div>

    <div class="container d-flex justify-content-center chatbox" style="display: none;">
        <div class="card mt-5" id="chatbox">
            <div class="d-flex flex-row justify-content-between p-3 adiv text-white">
                <i class="fas fa-chevron-left"></i>
                <span class="pb-3">Live chat</span>
                <i class="fas fa-times" id="closeChat"></i>
            </div>
            <div class="d-flex flex-row p-3">
                <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-7.png" width="30" height="30">
                <div class="chat ml-2 p-3">Hello and thank you for visiting BirdlyMind. Please click the video above.</div>
            </div>
            <div class="d-flex flex-row p-3">
                <div class="bg-white mr-2 p-3"><span class="text-muted">Hello and thank you for visiting BirdlyMind.</span></div>
                <img src="https://img.icons8.com/color/48/000000/circled-user-male-skin-type-7.png" width="30" height="30">
            </div>
            <div class="d-flex flex-row p-3">
                <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-7.png" width="30" height="30">
                <div class="myvideo ml-2"><img src="https://imgur.com/GOxU1jx.png" width="200"></div>
            </div>
            <div class="d-flex flex-row p-3">
                <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-7.png" width="30" height="30">
                <div class="chat ml-2 p-3"><span class="text-muted dot">. . .</span></div>
            </div>
            <div class="form-group px-3">
                <textarea class="form-control" rows="5" placeholder="Type your message"></textarea>
            </div>
        </div>
    </div>

    <div class="header">
        <div class="header-1 row">
            <div class="col-lg-6">
                <div class="hotline-box">
                    <div class="header-1-sdt">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.36947 6.55486C6.55494 6.43122 6.66634 6.22306 6.66634 6.00016V3.3335C6.66634 2.22893 5.77091 1.3335 4.66634 1.3335H1.99967C1.63148 1.3335 1.33301 1.63197 1.33301 2.00016C1.33301 8.62758 7.37226 14.6668 13.9997 14.6668C14.3679 14.6668 14.6663 14.3684 14.6663 14.0002V11.3335C14.6663 10.2289 13.7709 9.3335 12.6663 9.3335H9.99967C9.77677 9.3335 9.56862 9.4449 9.44497 9.63036L8.17474 11.5357C6.79127 10.6412 5.57917 9.45961 4.64683 8.09947L4.46413 7.82509L6.36947 6.55486ZM10.3565 10.6668H12.6663C13.0345 10.6668 13.333 10.9653 13.333 11.3335V13.3104C12.0415 13.221 10.7811 12.8756 9.6055 12.3279L9.33574 12.1979L10.3565 10.6668ZM9.33301 4.00016C10.8058 4.00016 11.9997 5.19407 11.9997 6.66683C11.9997 7.03502 11.7012 7.3335 11.333 7.3335C10.9911 7.3335 10.7093 7.07614 10.6708 6.74458L10.6627 6.56732C10.6118 5.87741 10.0359 5.3335 9.33301 5.3335C8.96482 5.3335 8.66634 5.03502 8.66634 4.66683C8.66634 4.29864 8.96482 4.00016 9.33301 4.00016ZM9.33301 1.3335C12.2785 1.3335 14.6663 3.72131 14.6663 6.66683C14.6663 7.03502 14.3679 7.3335 13.9997 7.3335C13.6315 7.3335 13.333 7.03502 13.333 6.66683C13.333 4.45769 11.5421 2.66683 9.33301 2.66683C8.96482 2.66683 8.66634 2.36835 8.66634 2.00016C8.66634 1.63197 8.96482 1.3335 9.33301 1.3335ZM4.66634 2.66683C5.03453 2.66683 5.33301 2.96531 5.33301 3.3335V5.64337L3.80193 6.66409C3.17889 5.41246 2.7857 4.05767 2.68946 2.66683H4.66634Z" fill="#FF5D8A" />
                        </svg>
                        <span>1234567890</span>
                    </div>

                    <div class="header-1-hotro">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.66634 9.33317H5.33301C6.42349 9.33317 7.39168 9.85682 7.99982 10.6664C8.57568 9.89943 9.47494 9.38908 10.4952 9.33749L10.6663 9.33317H11.333C13.174 9.33317 14.6663 10.8256 14.6663 12.6665C14.6663 13.0347 14.3679 13.3332 13.9997 13.3332C13.6578 13.3332 13.376 13.0758 13.3375 12.7443L13.3296 12.549C13.271 11.538 12.4615 10.7285 11.4505 10.6699L11.333 10.6665H10.6663C9.56177 10.6665 8.66634 11.5619 8.66634 12.6665C8.66634 13.0084 8.40898 13.2902 8.07742 13.3287L7.99967 13.3332C7.65778 13.3332 7.376 13.0758 7.33749 12.7443L7.32961 12.549C7.27103 11.538 6.46151 10.7285 5.45052 10.6699L5.33301 10.6665H4.66634C3.56177 10.6665 2.66634 11.5619 2.66634 12.6665C2.66634 13.0347 2.36786 13.3332 1.99967 13.3332C1.63148 13.3332 1.33301 13.0347 1.33301 12.6665C1.33301 10.874 2.74788 9.41196 4.52175 9.33625L4.66634 9.33317ZM4.66634 2.6665C6.1391 2.6665 7.33301 3.86041 7.33301 5.33317C7.33301 6.80593 6.1391 7.99984 4.66634 7.99984C3.19358 7.99984 1.99967 6.80593 1.99967 5.33317C1.99967 3.86041 3.19358 2.6665 4.66634 2.6665ZM11.333 2.6665C12.8058 2.6665 13.9997 3.86041 13.9997 5.33317C13.9997 6.80593 12.8058 7.99984 11.333 7.99984C9.86025 7.99984 8.66634 6.80593 8.66634 5.33317C8.66634 3.86041 9.86025 2.6665 11.333 2.6665ZM4.66634 3.99984C3.92996 3.99984 3.33301 4.59679 3.33301 5.33317C3.33301 6.06955 3.92996 6.6665 4.66634 6.6665C5.40272 6.6665 5.99967 6.06955 5.99967 5.33317C5.99967 4.59679 5.40272 3.99984 4.66634 3.99984ZM11.333 3.99984C10.5966 3.99984 9.99967 4.59679 9.99967 5.33317C9.99967 6.06955 10.5966 6.6665 11.333 6.6665C12.0694 6.6665 12.6663 6.06955 12.6663 5.33317C12.6663 4.59679 12.0694 3.99984 11.333 3.99984Z" fill="#5BC41A" />
                        </svg>

                        <span>Hỗ trợ</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 header-1-right-box">
                <div>
                    <a href="" class="header-1-diachi" style="text-decoration: none;">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.6667 14.6668C3.56213 14.6668 2.6667 13.7714 2.6667 12.6668V8.66683H2.00003C1.4061 8.66683 1.10865 7.94873 1.52863 7.52876L7.52863 1.52876C7.78898 1.26841 8.21109 1.26841 8.47144 1.52876L14.4714 7.52876C14.8914 7.94873 14.594 8.66683 14 8.66683H13.3334V12.6668C13.3334 13.7714 12.4379 14.6668 11.3334 14.6668H4.6667ZM8.00003 2.94297L3.56731 7.3757C3.8201 7.47044 4.00003 7.71429 4.00003 8.00016V12.6668C4.00003 13.035 4.29851 13.3335 4.6667 13.3335L6.00003 13.3328L6.00003 10.6668C6.00003 9.93045 6.59699 9.3335 7.33337 9.3335H8.6667C9.40308 9.3335 10 9.93045 10 10.6668L10 13.3328L11.3334 13.3335C11.7016 13.3335 12 13.035 12 12.6668V8.00016C12 7.71429 12.18 7.47044 12.4328 7.3757L8.00003 2.94297ZM8.6667 10.6668H7.33337L7.33336 13.3328H8.6667L8.6667 10.6668Z" fill="#06152B" />
                        </svg>

                        <div>
                            <span>Địa chỉ cửa hàng</span>
                        </div>
                    </a>
                </div>

                <div>
                    <a href="" class="header-1-tintuc" style="text-decoration: none;">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.00016 1.3335C11.6821 1.3335 14.6668 4.31826 14.6668 8.00016C14.6668 11.6821 11.6821 14.6668 8.00016 14.6668C4.31826 14.6668 1.3335 11.6821 1.3335 8.00016C1.3335 4.31826 4.31826 1.3335 8.00016 1.3335ZM9.98179 8.66735H6.01853C6.09249 10.003 6.38625 11.219 6.83571 12.1179C7.2543 12.9551 7.70161 13.3335 8.00016 13.3335C8.29872 13.3335 8.74602 12.9551 9.16462 12.1179C9.61407 11.219 9.90783 10.003 9.98179 8.66735ZM13.2922 8.66749L11.317 8.66767C11.2363 10.2903 10.8648 11.7417 10.3081 12.8103C11.9069 12.0412 13.0636 10.4985 13.2922 8.66749ZM4.68333 8.66767L2.70817 8.66749C2.93673 10.4985 4.09344 12.0412 5.69259 12.8098C5.17039 11.8084 4.81116 10.4702 4.70184 8.96985L4.68333 8.66767ZM5.69219 3.19L5.67475 3.19913C4.08469 3.97072 2.93565 5.50895 2.70811 7.33338L4.6833 7.33333C4.76388 5.71045 5.13546 4.25879 5.69219 3.19ZM8.00016 2.66683L7.94597 2.67077C7.64908 2.71293 7.22968 3.09446 6.83571 3.8824C6.38618 4.78146 6.09239 5.99771 6.0185 7.33364H9.98183C9.90793 5.99771 9.61415 4.78146 9.16462 3.8824C8.74602 3.04522 8.29872 2.66683 8.00016 2.66683ZM10.3077 3.19052L10.3228 3.21832C10.8714 4.28447 11.2372 5.72502 11.3171 7.33379L13.2922 7.33351C13.0639 5.50221 11.9071 3.95925 10.3077 3.19052Z" fill="#06152B" />
                        </svg>

                        <span>Tin tức</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="header-2 row" style="margin: 15px 0;">
            <div class="col-lg-2 logo-sanpham">
                <a asp-area="" asp-controller="Home" asp-action="Index"><img src="../imgs/output-onlinepngtools.png" alt="" width="60px" height="60px"></a>

                <button id="productMenu" class="header-sanpham">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M26.25 21.25C26.9404 21.25 27.5 21.8096 27.5 22.5C27.5 23.1904 26.9404 23.75 26.25 23.75H3.75C3.05964 23.75 2.5 23.1904 2.5 22.5C2.5 21.8096 3.05964 21.25 3.75 21.25H26.25ZM26.25 13.75C26.9404 13.75 27.5 14.3096 27.5 15C27.5 15.6904 26.9404 16.25 26.25 16.25H3.75C3.05964 16.25 2.5 15.6904 2.5 15C2.5 14.3096 3.05964 13.75 3.75 13.75H26.25ZM26.25 6.25C26.9404 6.25 27.5 6.80964 27.5 7.5C27.5 8.19036 26.9404 8.75 26.25 8.75H3.75C3.05964 8.75 2.5 8.19036 2.5 7.5C2.5 6.80964 3.05964 6.25 3.75 6.25H26.25Z" fill="#06152B" />
                    </svg>
                    <span>Sản phẩm</span>
                </button>
            </div>

            <div class="col-lg-7">
                <div class="header-search">
                    <input class="searh-box" type="text" placeholder="Xin chào, bạn đang tìm gì">
                </div>
            </div>

            <div class="col-lg-3 dangnhap-giohang">

                <partial name="_LoginPartial" />

                <button class="btn-header">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.625 23.75C11.6605 23.75 12.5 24.5895 12.5 25.625C12.5 26.6605 11.6605 27.5 10.625 27.5C9.58947 27.5 8.75 26.6605 8.75 25.625C8.75 24.5895 9.58947 23.75 10.625 23.75ZM21.875 23.75C22.9105 23.75 23.75 24.5895 23.75 25.625C23.75 26.6605 22.9105 27.5 21.875 27.5C20.8395 27.5 20 26.6605 20 25.625C20 24.5895 20.8395 23.75 21.875 23.75ZM3.75 2.5H6.25C6.81951 2.5 7.31038 2.88355 7.45632 3.42217L7.48546 3.55993L8.09163 7.5H26.25C26.9997 7.5 27.5687 8.15085 27.4939 8.87543L27.4702 9.02116L25.4053 18.3135C25.0406 19.9547 23.6324 21.1429 21.9724 21.2431L21.7446 21.25H10.8948C9.11794 21.25 7.59621 20.0055 7.22832 18.2874L7.1884 18.0702L5.1776 5H3.75C3.05964 5 2.5 4.44036 2.5 3.75C2.5 3.10896 2.98255 2.58062 3.60422 2.50841L3.75 2.5H6.25H3.75ZM24.6917 10H8.47624L9.65933 17.6901C9.74593 18.253 10.1997 18.6798 10.7542 18.7421L10.8948 18.75H21.7446C22.2816 18.75 22.7526 18.4081 22.9253 17.9106L22.9648 17.7712L24.6917 10Z" fill="#06152B" />
                    </svg>

                    <span>0 Đ</span>
                </button>
            </div>
        </div>
    </div>

    <div class="dropdown-position">
        <div class="dropdown">
            <div class="menu-dropdown" id="productDropdown">
                <partial name="Partials/_MenuView"  model="ViewBag.MenuTitle"/>
            </div>
        </div>
    </div>

    <div class="">
            @RenderBody()
    </div>

    <div class="footer-style ">
        <div class="footer-content">
            <div class="row">
                <div class="col-md-4">
                    <img src="../imgs/output-onlinepngtools.png" alt width="100px"
                         height="100px">
                </div>

                <div class="col-md-4">
                    <h4>Thông tin hữu ích</h4>
                    <ul class="list-group">
                        <li>Chính sách bảo hành</li>
                        <li>Chính sách đổi trả</li>
                        <li>Chính sách vận chuyển</li>
                        <li>Chính sách bảo mật</li>
                        <li>Chính sách thanh toán</li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h4>Phản hồi góp ý</h4>
                    <span>Đội ngũ kiểm soát chất lượng của chúng tôi sẵn sàng lắng nghe quý khách</span>
                    <button class="btn-phanhoi">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M19 4C20.6569 4 22 5.34315 22 7V17C22 18.6569 20.6569 20 19 20H5C3.34315 20 2 18.6569 2 17V7C2 5.34315 3.34315 4 5 4H19ZM20 7.328L12.6585 13.7526C12.3129 14.055 11.8111 14.0802 11.4394 13.8282L11.3415 13.7526L4 7.329V17C4 17.5523 4.44772 18 5 18H19C19.5523 18 20 17.5523 20 17V7.328ZM18.48 6H5.518L12 11.6712L18.48 6Z" fill="white" />
                        </svg>
                        <span>Gửi phản hồi</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
                var isBlur = false;
                var categories = document.querySelectorAll('.category');
                var categoryProducts = document.querySelectorAll('.product-menu-details');

        var currentCategory = null;
                $('#chatbox').hide();
                $('#productDropdown').hide();
                $('#productMenu').click(function (){
                    $('#productDropdown').slideToggle();
                    $('#Laptop').show();
                    if(!isBlur){
                        $('.main-content').css({'filter' : 'blur(2px)'})
                    }
                    else{
                        $('.main-content').css({'filter' : 'none'})
                    }
                    isBlur = !isBlur;
                });


        $('.category').mouseover(function() {
            var categoryType = $(this).attr('data-category');
            $('.product-menu-details').each(function() {
                if ($(this).attr('id') === categoryType) {
                    $(this).css('display', 'block');
                } else {
                    $(this).css('display', 'none');
                }
            });
        });


                $(".box").click(function(){
                    $(".box").removeClass("box-active");
                    $(this).addClass("box-active");
                });

                

                $('#chatBubble').on('click', function() {
                    $('#chatbox').toggle(); // Toggles chatbox display
                });

                $('#closeChat').on('click', function() {
                    $('#chatbox').hide(); // Hides chatbox
                });

            });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
