@using Chill_Computer.ViewModels;
@model ChangePasswordViewModel;

@{
    ViewData["Title"] = "ChangePassWord";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


<div>
    <form class="form-section-email ">
        <h2>Forgot PassWord</h2>
        <div class="input_group">
            <label for="password">New PassWord</label>
            <input type="password" id="password" placeholder="Enter your New PassWord">
        </div>
        <div class="input_group">
            <label for="password">Confirn New PassWord</label>
            <input type="password" id="password" placeholder="Confirn New PassWord">
        </div>

        <button> Submit</button>

    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}