@using Chill_Computer.ViewModels;
@model LoginViewModel;

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="account-container">
    <div class="auth-container">
        <!-- Left Side Image -->
        <div class="image-section">
            <img src="../imgs/login1.jpg" alt="Decorative background" class="login-image" />
        </div>

        <!-- Right Side Form -->
        <div class="form-section">
            <h1 class="form-title">Đăng nhập</h1>
            <div class="form-box">
                <form asp-controller="Account" asp-action="Login" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="field">
                        <label asp-for="UserName" class="label">Tên đăng nhập</label>
                        <input asp-for="UserName" class="input-field" required />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="field">
                        <label asp-for="Password" class="label">Mật khẩu</label>
                        <input asp-for="Password" class="input-field" required />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <a asp-controller="Account" asp-action="VerifyEmail">Quên mật khẩu?</a>

                    <button type="submit" class="btn-submit">Đăng nhập</button>
                </form>

                <div class="form-footer">
                    <p>Chưa có tài khoản? <a asp-controller="Account" asp-action="Register">Đăng ký</a></p>
                </div>

                <div class="form-footer">
                    <button class="btn-submit">
                        <i class="fab fa-google mr-2"></i> Đăng nhập bằng Google
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}