@model Restaurant_SampleTest.Models.Tables

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Tables</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TableNumber" class="control-label"></label>
                <input asp-for="TableNumber" class="form-control" />
                <span asp-validation-for="TableNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seats" class="control-label"></label>
                <input asp-for="Seats" class="form-control" />
                <span asp-validation-for="Seats" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none;">
                <label asp-for="Status" class="control-label">Status</label>
                <input asp-for="Status" class="form-control" value="Available" readonly />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none;">
                <label asp-for="CreatedAt" class="control-label">Created At</label>
                <input asp-for="CreatedAt" class="form-control" value="@DateTime.Now" readonly />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
