.account-container {
    padding-top: 120px;
}

.auth-container {
    display: flex;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.image-section {
    width: 50%;
}

    .image-section img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.form-section {
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 0 auto 1rem;
    width: fit-content;
}

form-box h1{
    margin: 110px 80px;
}

.form-box {
    border: 2px solid black;
    border-radius: 15px;
    padding: 2rem;
    width: 90%;
    margin: auto;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-field {
    background-color: #D9D9D9;
    height: 35px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 0 0.5rem;
    font-size: 1rem;
}

.btn-submit {
    background-color: black;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

    .btn-submit:hover {
        background-color: #333;
    }

.form-footer {
    text-align: center;
    margin-top: 1.5rem;
}

    .form-footer a {
        color: #007bff;
        text-decoration: none;
    }

        .form-footer a:hover {
            text-decoration: underline;
        }
